.container {
  width: -webkit-fill-available;

  padding: 11px 10px;
  margin-top: 2px;

  background: #ffffff;
  border: 1px solid #000000;
  box-shadow: inset 3px 3px 0px rgba(0, 0, 0, 0.25);

  font-family: "ONE-Mobile-Title";
  font-size: 12px;
}

.container::placeholder {
  color: #ababab;
}

@media screen and (max-width: 390px) {
  .container {
    /* width: 68.7vw; */
    padding: 2.82vw 2.56vw;

    font-size: 3.07vw;
  }
}
