.modal {
  width: 325px;
  /* height: 639px; */
  padding-bottom: 66px;

  background-color: #ffffff;
  border: solid 2px #000000;

  box-shadow: 5px 6px 1px #000000;
}

.modal-title {
  display: flex;
  align-items: center;

  padding: 0 13px;

  height: 44px;

  background-color: #f5bfbd;
  border-bottom: solid 2px #000000;
}

.circle-btn {
  width: 17px;
  height: 17px;

  border-radius: 100%;
  border: solid 2px #000000;
}

.red {
  background-color: #f2554b;
}

.yellow {
  background-color: #ffcb66;
  margin: 0 6px;
}

.green {
  background-color: #a4d374;
}

.modal-contents {
  /* padding: 37px 98px; */
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 37px;
}

.modal-contents-title {
  text-align: center;
}

.title-ID {
  font-family: "Arcadepix";
  font-size: 50px;
}

.title-eal {
  font-family: "Sen";
  font-size: 35px;
}

.logo {
  width: 122px;
  height: 51px;
}

.character {
  width: 199px;
  height: 119px;

  margin-top: 7px;
}

/* mobile screen */
@media screen and (max-width: 390px) {
  .modal {
    width: 83.3vw;
    /* height: 163.84vw; */
    padding-bottom: 16.92vw;
  }

  .modal-title {
    height: 11.28vw;

    padding: 0 3.33vw;
  }

  .circle-btn {
    width: 4.36vw;
    height: 4.36vw;
  }

  .yellow {
    margin: 0 1.54vw;
  }

  .modal-contents {
    /* padding: 37px 98px; */
    margin-top: 9.49vw;
  }

  .title-ID {
    font-size: 12.82vw;
  }

  .title-eal {
    font-size: 8.97vw;
  }

  .logo {
    width: 31.28vw;
    height: 13.07vw;
  }

  .character {
    width: 51.02vw;
    height: 30.51vw;

    margin-top: 1.79vw;
  }
}
