button.add-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 35px;
  height: 35px;

  margin-top: 2px;

  background: #e3e3e3;
  box-shadow: inset -3px -3px 0px rgba(0, 0, 0, 0.25);

  font-family: "ONE Mobile Title";
  font-size: 21px;

  color: #23b0b7;
}

button.add-btn:hover {
  box-shadow: inset 3px 3px 0px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 390px) {
  button.add-btn {
    width: 8.94vw;
    height: 8.94vw;

    font-size: 5.38vw;
  }
}
